* {
  padding: 0;
  margin: 0;
}
h1 {
  background-color: lightseagreen;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  text-align: center;
  margin-top: 30px;
}
